<h1>ツイート一覧</h1>

<table>
  <tr>
    <th>内容</th>
  </tr>

<% @mains.each do |main| %>
  <tr>
    <td><%= main.content %></td>
    <td><%= link_to '詳細を確認する', main_path(main.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しくツイートを投稿する', new_main_path %>
